@font-face {
  font-family: "Nunito-VariableFont";
  src: url('./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

body{
  margin:0;
  padding:0;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito-VariableFont';
  font-weight: 600;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  min-height: 65vh;
  margin-top: 25vh;
}